flask
flask-cors
pandas
pdfplumber
pymupdf
pytesseract
pillow
python-docx
langchain-text-splitters
sentence-transformers
chromadb
networkx
numpy
langchain-ollama
tqdm
routes
beautifulsoup4
selenium
webdriver-manager
plyer
xlrd
openpyxl
pydantic
pydantic_core